<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karhades.tag_it">

    <!-- Permission to use NFC and external storage-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Application requires NFC-->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- MainActivity-->
        <activity
            android:name=".main.controller.activity.MainActivity"
            android:screenOrientation="portrait">

            <!-- Launcher intent filter-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- VIEW intent filter (Android Beam)-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- DiscoverTagActivity-->
        <activity
            android:name=".main.controller.activity.DiscoverTagActivity"
            android:parentActivityName=".main.controller.activity.MainActivity"
            android:screenOrientation="portrait">

            <!-- The android system searches for these filters-->
            <!-- and matches with the appropriate one that-->
            <!-- corresponds to the nfcTag-->

            <!-- NDEF_DISCOVERED-->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.karhades.tag_it.nfchandler" />
            </intent-filter>
        </activity>

        <!-- TrackTagPagerActivity-->
        <activity
            android:name=".main.controller.activity.TrackTagPagerActivity"
            android:parentActivityName=".main.controller.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TrackTagPagerActivity" />

        <!-- EditTagPagerActivity-->
        <activity
            android:name=".main.controller.activity.EditTagPagerActivity"
            android:parentActivityName=".main.controller.activity.MainActivity"
            android:screenOrientation="portrait" />

        <!-- CreateTagActivity-->
        <activity
            android:name=".main.controller.activity.CreateTagActivity"
            android:parentActivityName=".main.controller.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CreateTagActivity">

            <!--TECH_DISCOVERED-->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <!-- Tech list-->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_list" />

            <!--TAG_DISCOVERED-->
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>
        </activity>

        <!-- FullScreenActivity-->
        <activity
            android:name=".main.controller.activity.FullScreenActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- SettingsActivity-->
        <activity
            android:name=".main.controller.activity.SettingsActivity"
            android:parentActivityName=".main.controller.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SettingsActivity" />
    </application>
</manifest>
